::selection {
  background: #b68b25;
  color: #fff;
}

section {
  padding: 0 3%;
}

nav {
  background: #f7f7f7;
  padding: 0 2%;
}
nav .user-photo {
  width: 60px;
  height: 60px;
  background: #b68b25;
  border: 3px solid #d9d9d9;
  border-radius: 50%;
  margin-right: 23px;
}
nav .notification {
  align-items: center;
}
nav .notification {
  position: relative;
  display: inline-block;
}
nav .number {
  height: 22px;
  width: 22px;
  background-color: #b68b25;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 27px;
  left: 55px;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
nav .number:empty {
  display: none;
}
nav .notBtn {
  transition: 0.5s;
  cursor: pointer;
}
nav .fas {
  font-size: 23pt;
  padding-bottom: 10px;
  color: #AAAAAA;
  margin-right: 40px;
  margin-left: 40px;
}
nav .box {
  z-index: 2;
  width: 350px;
  height: 0px;
  border-radius: 10px;
  transition: 0.5s;
  position: absolute;
  overflow-y: scroll;
  padding: 0px;
  left: 0%;
  margin-top: 5px;
  background-color: #F4F4F4;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
  cursor: context-menu;
}
nav .box::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  border-radius: 5px;
}
nav .box::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border: 2px solid #3b3b3b;
  border-radius: 5px;
}
nav .fas:hover {
  color: #b68b25;
}
nav .notBtn:hover .box {
  height: 45vh !important;
}
nav .content {
  padding: 20px;
  color: black;
  vertical-align: middle;
  text-align: left;
}
nav .gry {
  background-color: #F4F4F4;
}
nav .top {
  color: black;
  padding: 10px;
}
nav .display {
  position: relative;
}
nav .cont {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
}
nav .cont:empty {
  display: none;
}
nav .stick {
  text-align: center;
  display: block;
  font-size: 50pt;
  padding-top: 70px;
  padding-left: 80px;
}
nav .stick:hover {
  color: black;
}
nav .cent {
  text-align: center;
  display: block;
}
nav .sec {
  padding: 25px 10px;
  background-color: #F4F4F4;
  transition: 0.5s;
}
nav .new {
  border-style: none none solid none;
  border-color: gray;
}
nav .new p {
  color: #b68b25;
}
nav .sec:hover {
  background-color: #BFBFBF;
}
nav .dropdown .dropdown-toggle {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Tajawal";
}
nav .dropdown .dropdown-toggle:focus {
  box-shadow: none;
}
nav .dropdown .dropdown-toggle::after {
  vertical-align: -1px !important;
}
nav ul.dropdown-menu.show {
  border-radius: 10px !important;
}
nav .dropdown-menu[data-bs-popper] {
  top: 75% !important;
}
nav .dropdown-menu[data-bs-popper] .fa-power-off {
  margin: 0 5px;
  font-size: 14px;
  color: #b68b25;
}
nav .dropdown-menu[data-bs-popper] a {
  color: #212529;
}
nav .title-container {
  width: 65%;
}
nav .header-title {
  border-bottom: 4px solid #b68b25;
  padding-bottom: 10px;
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 22px;
  text-align: right;
  color: #454545;
}
nav .header-title p {
  font-size: 18px;
  color: #454545;
  margin-right: 10px;
}

.num-order {
  width: 100%;
  height: 60px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 20px;
  text-align: right;
  color: #14172e;
}
.num-order span {
  font-size: 30px;
  color: #b68b25;
  margin-left: 10px;
}

.search-btn {
  display: inline-flex;
  width: 55%;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: #b68b25;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
}
.search-btn:hover {
  background: transparent;
  border: 1px solid #b68b25;
  color: #b68b25;
  cursor: pointer;
}

.table-responsive {
  background: #fff;
  border-radius: 16px;
}
.table-responsive thead tr th {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 16px;
  color: #14172e;
  padding: 22px 10px;
}
.table-responsive .control__indicator {
  background-color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-responsive .control__indicator span {
  background: #b68b25;
  width: 10px;
  height: 10px;
  transform: 0.3s;
  opacity: 0;
}
.table-responsive .control input:checked ~ .control__indicator:after {
  display: none;
}
.table-responsive .control input:checked ~ .control__indicator span {
  opacity: 1;
  transform: 0.3s;
}
.table-responsive .pagination {
  gap: 10px;
  margin-bottom: 25px;
}
.table-responsive .pagination .pagination-num {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-responsive .pagination-num.active {
  background: #b68b25;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #b68b25;
}
.table-responsive .pagination-num:not(.active) {
  background: transparent;
  border: 1px solid #454545;
  border-radius: 50%;
  color: #454545;
  transition: 0.5s;
}
.table-responsive .pagination-num:not(.active):hover {
  cursor: pointer;
  background: #b68b25;
  color: #fff;
  border: 1px solid #b68b25;
}

.green {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
  background: rgba(46, 214, 163, 0.1);
  color: #2ed67b;
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 17px;
  /*select{

          color: $green-color;
          font-family: 'Cairo';
          font-weight: 600;
          font-size: 17px;
  }*/
  /*.nice-select{
      background-color: transparent !important;
      border: none !important;
      &::after{
          display: none;
      }
      span.current{
              color: $green-color;
              font-family: 'Cairo';
              font-weight: 600;
              font-size: 17px;
      }

      ul.list{
          left: -22px;
          border: 1px solid rgb(167, 165, 165);
          border-radius: 9px;
          width: 150px;
          li{
              text-align: right;
          }
      }
  }*/
}

.orange {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 132, 75, 0.1);
  color: #fd844b;
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 17px;
  /*select{
      color: $orange-color;
      font-family: 'Cairo';
      font-weight: 600;
      font-size: 17px;
  }*/
  /*.nice-select{
      background-color: transparent !important;
      border: none !important;
      &::after{
          display: none;
      }
      span.current{
              color: $orange-color;
              font-family: 'Cairo';
              font-weight: 600;
              font-size: 17px;
      }

      ul.list{
          left: -22px;
          border: 1px solid rgb(167, 165, 165);
          border-radius: 9px;
          width: 150px;
          li{
              text-align: right;
          }
      }
  }*/
}

.red {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 96, 107, 0.1);
  color: #b68b25;
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 17px;
  /*select{
          color: $mainCol;
          font-family: 'Cairo';
          font-weight: 600;
          font-size: 17px;
      }*/
  /*.nice-select{
          background-color: transparent !important;
          border: none !important;
          &::after{
              display: none;
          }
          span.current{
                  color: $mainCol;
                  font-family: 'Cairo';
                  font-weight: 600;
                  font-size: 17px;
          }

          ul.list{
              left: -22px;
              border: 1px solid rgb(167, 165, 165);
              border-radius: 9px;
              width: 150px;
              li{
                  text-align: right;
              }
          }
      }*/
}

.dark-red {
  cursor: pointer;
  width: 90%;
  padding: 11px 0;
  border-radius: 11.5px;
  background: #b68b25;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.pt-39 {
  padding-top: 30px !important;
}

.modal.show {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: rgba(0, 0, 0, 0.6);
}
.modal.show .modal-content {
  width: 600px;
  border-bottom: none !important;
  border-radius: 16px;
  background: #fff;
  border: 2px solid #b68b25 !important;
  box-shadow: 0px 16px 50px rgba(131, 131, 131, 0.33);
  padding: 28px 5px;
}
.modal.show .modal-footer {
  border-top: none;
}
.modal.show .modal-body .nice-select {
  float: right;
  text-align: right !important;
  width: 100%;
  border-radius: 25px;
  background: #d9d8d8;
  border: 2px solid #b68b25;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.modal.show .modal-body .nice-select::after {
  right: auto;
  left: 12px !important;
}
.modal.show .modal-body .nice-select ul.list {
  width: 100%;
}
.modal.show .modal-body .nice-select ul.list li {
  text-align: right;
}
.modal.show .modal-body .notes {
  padding-right: 10px;
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 22px;
  text-align: right;
  color: #454545;
}
.modal.show .modal-body input.notes-input {
  min-height: 120px;
  width: 100%;
  border-radius: 29px;
  background: rgba(237, 237, 237, 0.44);
  border: 2px solid #b68b25;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  padding-right: 12px;
}
.modal.show .modal-body input.notes-input:focus {
  outline: none;
  border: 2px solid #b68b25;
  background: #fff;
}
.modal.show .modal-footer .done {
  width: 100%;
  height: 55px;
  border-radius: 13px;
  background: #b68b25;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.modal.show .modal-footer .done:hover {
  background: transparent;
  border: 1px solid #b68b25;
  color: #b68b25;
}
.modal.show .modal-footer .cancel {
  width: 100%;
  height: 55px;
  border-radius: 13px;
  background: transparent;
  border: 2px solid #454545;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #454545;
  transition: 0.5s;
}
.modal.show .modal-footer .cancel:hover {
  background: #454545;
  border: 1px solid #454545;
  color: #fff;
}

/*************** tabs style *************/
ul.nav-tabs {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  width: 100%;
  align-items: center;
}
ul.nav-tabs li {
  width: 90%;
}
ul.nav-tabs li a {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

td .dropdown-toggle:focus {
  box-shadow: none;
}
td .dropdown-toggle::after {
  display: none !important;
}
td ul.dropdown-menu.show {
  transform: translate(7px, 23px) !important;
}
td ul.dropdown-menu.show a .fas {
  margin-left: 10px;
}

/*************** delete Alert *******************/
.modal-confirm {
  color: #636363;
  width: 400px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
  color: #999;
}

.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #b68b25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-confirm .icon-box i {
  color: #b68b25;
  font-size: 46px;
  display: inline-block;
  margin: 0;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}

.modal-confirm .btn-secondary {
  background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
  background: #a8a8a8;
}

.modal-confirm .btn-danger {
  background: #ee3535;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #b68b25;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

thead th {
  padding-bottom: 7px !important;
}

tbody .order-num {
  padding-right: 30px;
}
tbody .control--checkbox {
  margin-left: 3px;
}

.dataTables_wrapper .row:nth-child(1),
.dataTables_wrapper .row:nth-child(3) {
  display: none;
}

.approave-btn {
  width: 40%;
  padding: 10px;
  background: #7A7A7A;
  text-align: center;
  border-radius: 16px;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  border: none;
  outline: none;
}
.approave-btn:disabled {
  opacity: 0.5;
}

/*table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after{
    right: 1.5em !important;
}

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before{
    right: 2em !important;
}*/
.nav-tabs li button.active {
  background: #6c6c6c !important;
  color: white !important;
  border-radius: 13px !important;
}
.nav-tabs li button.active:hover {
  background: #6c6c6c !important;
  color: white !important;
  border: none !important;
}

.nav-tabs li button {
  border: none !important;
  width: 100%;
  background: #b68b25 !important;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: #fff;
  margin-top: 15px;
  height: 44px;
  border-radius: 13px !important;
  border: 1px solid #ededed;
}
.nav-tabs li button:hover {
  border: 1px solid #454545 !important;
  background: transparent !important;
  color: #454545;
}

.error {
  color: #b68b25;
  padding-right: 20px;
  margin-top: 0;
}

.star {
  font-size: 22px;
  color: #b68b25;
  font-weight: bold;
}

.dots::before, .dots::after {
  display: none !important;
}

.search {
  width: 100%;
}
.search:focus {
  outline: none !important;
  box-shadow: none;
  border: 1px solid #b68b25 !important;
  padding-right: 16%;
}
.search input {
  width: 90%;
  height: 60px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);
  border: none;
  position: relative;
  transition: 0.5s;
}
.search input:focus {
  outline: none !important;
  box-shadow: none;
  padding-right: 6%;
  box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);
}
.search input::placeholder {
  padding-right: 2%;
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 18px;
  color: #14172e;
}
.search .btn-icon {
  background: #fff;
  border: none;
  height: 60px;
  margin: auto;
  /* padding-right: 37px; */
  margin-right: 7px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.search .btn-icon:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.sidebar {
  width: 80%;
  height: 80vh;
  border-radius: 16px;
  background: #fff;
  border: 2px solid #b68b25;
  box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  position: sticky;
  top: 15px;
  right: 10px;
}
.sidebar a {
  width: 90%;
  display: inline-flex;
  align-items: center;
  height: 45px;
  padding: 2% 4% 4%;
  border-radius: 13px;
  border: 1px solid #ededed;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: #fff;
  margin-bottom: 4%;
}
.sidebar .seprator {
  border-bottom: 1px solid #b68b25;
  width: 90%;
  height: 10px;
  margin: 15px 0 30px;
}
.sidebar .transparent-bg {
  border-radius: 13px;
  background: transparent;
  border: 2px solid #b68b25;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: #b68b25;
  margin-bottom: 20px;
}

.height-90 {
  min-height: 81vh;
  display: flex;
  align-items: center;
}

.login-title {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 30px;
  text-align: right;
  color: #454545;
}

.form-container {
  width: 100%;
  padding: 7% 4% 8%;
  border-radius: 22px;
  background: transparent;
  border: 1px solid #454545;
}
.form-container label {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 22px;
  color: #454545;
  margin-bottom: 7px;
}
.form-container input {
  width: 85%;
  border-radius: 29px;
  background: rgba(237, 237, 237, 0.44);
  border: 2px solid #b68b25;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  padding: 12px;
}
.form-container input::placeholder {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 19px;
  color: #454545;
}

.form-action .login-btn {
  width: 100%;
  height: 64px;
  border-radius: 13px;
  background: #b68b25;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 26px;
  color: #fff;
}
.form-action .login-btn:hover {
  color: #b68b25;
  border: 2px solid #b68b25;
  background-color: transparent;
}

input {
  padding-right: 20px;
}
input::placeholder {
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
}
input:focus ::placeholder {
  color: transparent !important;
}

input:focus::placeholder {
  color: transparent;
}

button:disabled,
button[disabled] {
  background-color: #454545;
  color: #bebcbc;
}
button:disabled:hover,
button[disabled]:hover {
  background-color: #454545;
  color: #bebcbc;
}

footer {
  height: 10%;
  background: linear-gradient(#fff 0%, #4d4d4d 46%, #262626 100%);
  padding: 1%;
}
footer img {
  padding-top: 2%;
  width: 50%;
  margin: 0 31%;
}
footer .footer-text {
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 18px;
  color: #f7f6f4;
  margin-bottom: 0 !important;
  padding-top: 15px;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.first-container {
  min-height: 90%;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #707070;
  padding-right: 26px;
}
.first-container .labels p {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 18px;
  text-align: right;
  color: #454545;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.first-container .data p {
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #454545;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.first-container .divider hr {
  width: 1px;
  height: 154px;
  background: transparent;
  border: 1px solid #707070;
}
.first-container .accept-loan {
  width: 95%;
  height: 50px;
  border-radius: 13px;
  background: #289a43;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}
.first-container .reject-loan {
  width: 95%;
  height: 50px;
  border-radius: 13px;
  background: #454545;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  color: #fff;
}
.first-container .print {
  width: 147px;
  height: 40px;
  background: transparent;
  border: 2px solid #b68b25;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.13));
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #b68b25;
  border-radius: 13px;
  margin-bottom: 12px;
}
.first-container .print svg {
  margin-right: 8px;
}
.first-container .approave {
  width: 147px;
  height: 40px;
  border-radius: 13px;
  background: #b68b25;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
.first-container .green {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
  background: rgba(46, 214, 163, 0.1);
  margin-bottom: 12px;
  /*select{

          color: $green-color;
          font-family: 'Cairo';
          font-weight: 600;
          font-size: 17px;
  }*/
}
.first-container .green .nice-select {
  width: 209px;
  height: 48px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #2ed67b;
  text-align: center !important;
  padding-right: 8px;
}
.first-container .green .nice-select::after {
  right: 160px !important;
}
.first-container .green .nice-select span.current {
  color: #2ed67b;
  font-family: "Cairo";
  font-weight: 600;
  font-size: 17px;
}
.first-container .green .nice-select ul.list {
  left: -1px;
  border: 1px solid #a7a5a5;
  border-radius: 9px;
  width: 209px;
}
.first-container .green .nice-select ul.list li {
  text-align: right;
  color: #454545;
  font-family: "Tajawal";
}
.first-container .orange {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 132, 75, 0.1);
  margin-bottom: 12px;
  /*select{
      color: $orange-color;
      font-family: 'Cairo';
      font-weight: 600;
      font-size: 17px;
  }*/
}
.first-container .orange .nice-select {
  width: 209px;
  height: 48px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #fd844b;
  text-align: center !important;
  padding-right: 8px;
}
.first-container .orange .nice-select::after {
  right: 160px !important;
}
.first-container .orange .nice-select span.current {
  color: #fd844b;
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 17px;
  text-align: center;
}
.first-container .orange .nice-select ul.list {
  left: -1px;
  border: 1px solid #a7a5a5;
  border-radius: 9px;
  width: 209px;
}
.first-container .orange .nice-select ul.list li {
  text-align: right;
  color: #454545;
  font-family: "Tajawal";
}
.first-container .red {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 96, 107, 0.1);
  margin-bottom: 12px;
  /*select{
      color: $mainCol;
      font-family: 'Cairo';
      font-weight: 600;
      font-size: 17px;
  }*/
}
.first-container .red .nice-select {
  width: 209px;
  height: 48px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #b68b25;
  text-align: center !important;
  padding-right: 8px;
}
.first-container .red .nice-select::after {
  right: 160px !important;
}
.first-container .red .nice-select span.current {
  color: #b68b25;
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 17px;
}
.first-container .red .nice-select ul.list {
  left: -1px;
  border: 1px solid #a7a5a5;
  border-radius: 9px;
  width: 209px;
}
.first-container .red .nice-select ul.list li {
  text-align: right;
  color: #454545;
  font-family: "Tajawal";
}

.second-container .title {
  font-family: "Tajawal";
  font-weight: bold;
  font-size: 22px;
  text-align: right;
  color: #454545;
}
.second-container .Applicant-data {
  width: 49%;
  min-height: 319px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #707070;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.second-container .loan-data {
  width: 49%;
  min-height: 319px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #707070;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.second-container .labels p {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 18px;
  text-align: right;
  color: #454545;
  margin-bottom: 8px;
  width: 100%;
  word-wrap: break-word;
}
.second-container .data p {
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 17px;
  text-align: right;
  color: #454545;
  margin-bottom: 8px;
  width: 100%;
  word-wrap: break-word;
}
.second-container .edit {
  width: 83px;
  height: 34px;
  background: #b68b25;
  border: 1px solid #ededed;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.13));
  border-radius: 8px;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.third-container {
  /*nav{
      background: transparent;
      .nav-tabs{
          border-bottom: none;
      }

      button{
          width:calc(100%/5.21) !important;

          @media (max-width:1400px) {
              width:calc(100%/5.29) !important;
          }
          @media (min-width:1401px) and (max-width:1590px) {
              width:calc(100%/5.22) !important;
          }
          &:first-child{
              margin-right: 0 !important;
          }
          &:last-child{
              margin-left: 0 !important;
          }

          &:hover{
              background: $mainCol !important;
              border-color: $mainCol !important;
              color: #fff !important;
          }
      }
      button:not(.active){

          //width: 198.3px ;
          border-radius: 8px 8px 0px 0px;
          background: transparent;
          border: 2px solid $mainCol;
          font-family: 'Tajawal';
          font-weight: 500;
          font-size: 22px;
          text-align: center;
          color: $mainCol;
           margin-right: 10.4px;//12px;
           @media (max-width:1400px) {
              margin-right: 12.2px
          }
          // margin-left: 10px;


      }

      .active{
          //width: 198.3px ;
          //height: 48px;
          border-radius: 8px 8px 0px 0px !important;
          background: $mainCol !important;
          border: 2px solid $mainCol !important;
          font-family: 'Tajawal' !important;
          font-weight: 500 !important;
          font-size: 22px !important;
          text-align: center !important;
          color: #fafafa !important;
          margin-right: 10.4px;//12px;
          @media (max-width:1400px) {
              margin-right: 12.2px
          }

      }
  }*/
}
.third-container nav {
  background: transparent;
}
.third-container nav .nav-tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}
.third-container nav .nav-tabs button {
  width: calc(100% / 5.16);
}
.third-container nav .nav-tabs button:first-child {
  margin-right: 0 !important;
}
.third-container nav .nav-tabs button:last-child {
  margin-left: 0 !important;
}
.third-container nav .nav-tabs button:hover {
  background: #b68b25 !important;
  border-color: #b68b25 !important;
  color: #fff !important;
}
.third-container nav .nav-tabs button:not(.active) {
  border-radius: 8px 8px 0px 0px;
  background: transparent;
  border: 2px solid #b68b25;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #b68b25;
  border-bottom: none;
}
.third-container nav .nav-tabs .active {
  border-radius: 8px 8px 0px 0px !important;
  background: #b68b25 !important;
  border: 2px solid #b68b25 !important;
  font-family: "Tajawal" !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  text-align: center !important;
  color: #fafafa !important;
}
.third-container .tab-content {
  width: 100%;
  height: 484px;
  border-radius: 0px 0px 16px 16px;
  background: #fff;
  border: 2px solid #b68b25;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.third-container .tab-content::-webkit-scrollbar {
  width: 7px;
}
.third-container .tab-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.third-container .tab-content::-webkit-scrollbar-thumb {
  background: #b68b25;
  border-radius: 10px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.third-container .tab-content::-webkit-scrollbar-thumb:hover {
  background: #454545;
  cursor: pointer;
}
.third-container .title {
  font-family: "Tajawal";
  font-weight: bold;
  font-size: 22px;
  text-align: right;
  color: #454545;
}
.third-container .labels p {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 18px;
  text-align: right;
  color: #454545;
  margin-bottom: 8px;
  width: 100%;
  word-wrap: break-word;
}
.third-container .data p {
  font-family: "Tajawal";
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #454545;
  margin-bottom: 8px;
  width: 100%;
  word-wrap: break-word;
}
.third-container .tab-data {
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 19px;
  padding-bottom: 20px;
}
.third-container .divider {
  display: flex;
  justify-content: end;
}
.third-container .divider hr {
  width: 1px;
  height: 95%;
  background: transparent;
  border: 1px solid #707070;
}
.third-container .edit {
  width: 83px;
  height: 34px;
  background: #b68b25;
  border: 1px solid #ededed;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.13));
  border-radius: 8px;
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.third-container .upload-files button {
  width: 83px;
  height: 34px;
  border-radius: 8px;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.third-container .upload-files .edit {
  background: #b68b25;
  padding-top: 1px;
}
.third-container .upload-files .delete {
  background: #454545;
}
.third-container .upload-files input[type=file] {
  display: none;
}
.third-container .upload-files label {
  cursor: pointer;
}
.third-container .upload-files .span-text {
  margin-right: 20px;
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 20px;
  color: #454545;
}
.third-container .upload-files .empty-container {
  display: none;
}
.third-container .upload-files .empty-text {
  font-family: "Tajawal";
  color: #454545;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
.third-container .upload-files hr {
  border: 1px solid #707070;
}
.third-container .upload-files .plus {
  cursor: pointer;
  width: 40px;
  height: 41px;
  background: transparent;
  border: 1px dashed #454545;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.third-container .upload-files .plus span {
  font-family: "Tajawal";
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #b68b25;
  margin: 0;
  padding-bottom: 6px;
}
.third-container .upload-files .plus:hover {
  background: #b68b25;
  border: none;
}
.third-container .upload-files .plus:hover span {
  color: #fff;
}
.third-container .upload-files .plus-text {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 22px;
  color: #454545;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 0;
}

.insurance-num {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: rgba(237, 237, 237, 0.44);
  border: 2px solid #b68b25;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 22px;
  text-align: right;
  color: #454545;
}

.save,
.close {
  height: 50px !important;
}

.final-btn {
  width: 85%;
  height: 50px;
  border-radius: 13px;
  background: #289a43;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.final-btn:hover {
  background: transparent;
  border: 1px solid #289a43;
  color: #289a43;
}

.save-btn {
  width: 85%;
  height: 50px;
  border-radius: 13px;
  background: #b68b25;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.save-btn:hover {
  background: transparent;
  border: 1px solid #b68b25;
  color: #b68b25;
}

.cancel-btn {
  width: 85%;
  height: 50px;
  border-radius: 13px;
  background: transparent;
  border: 2px solid #454545;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #454545;
  transition: 0.5s;
}
.cancel-btn:hover {
  background: #454545;
  border: none;
  color: #fff;
}

.Accept-title {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: #454545;
}

.Accept-desc {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  color: #454545;
}

#Accept-Loan-staticBackdrop .done, #Accept-Loan-with-reason-staticBackdrop .done {
  background: #289a43;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Accept-Loan-staticBackdrop .done:hover, #Accept-Loan-with-reason-staticBackdrop .done:hover {
  background: transparent;
  border-color: #289a43;
  color: #289a43;
}

.ignore {
  background: #454545 !important;
  font-size: 26px !important;
}
.ignore:hover {
  background: none !important;
  border-color: #454545 !important;
  color: #454545 !important;
}

.hr hr {
  width: 245px;
  height: 0px;
  background: transparent;
  border: 1px solid #454545;
  margin: 20px 10px;
}

.social-research-card {
  width: 90%;
  min-height: 240px;
  border-radius: 16px;
  background: transparent;
  border: 1px solid #b68b25;
  margin-right: 10px;
  padding: 15px 15px 15px 10px;
}

.details-table {
  border-collapse: separate;
  border-spacing: 10px 0;
  margin-bottom: 30px;
}
.details-table thead {
  min-height: 50px;
}
.details-table thead th.first {
  border-radius: 8px;
  background: #454545;
  font-family: "Tajawal";
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #f7f6f4;
}
.details-table thead th.small-th {
  width: 146px;
  border-radius: 8px;
  background: #454545;
  font-family: "Tajawal";
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
.details-table tbody > tr:nth-of-type(even) {
  background: #f8f6f6;
}
.details-table .row-data {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 18px;
  color: #454545;
  border-radius: 8px;
  max-width: 146px;
  word-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}
.details-table .total-price {
  font-family: "Tajawal";
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #f7f6f4;
  border-radius: 8px;
}
.details-table .total-text {
  padding-right: 20px;
}
.details-table tfoot {
  background: #b68b25;
}

.mt-60 {
  margin-top: 55px !important;
}

.swal2-title {
  color: #454545;
  font-family: "Tajawal";
  font-weight: bold;
  font-size: 28px;
}

.swal2-confirm.swal2-styled {
  background: #b68b25 !important;
  color: #fff !important;
  border-radius: 8px;
  width: 90px;
}
.swal2-confirm.swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-cancel.swal2-styled {
  background: #6C6C6C !important;
  border-radius: 8px;
  width: 90px;
}
.swal2-cancel.swal2-styled:focus {
  box-shadow: none !important;
}

.attach-divider {
  display: inline-block;
  margin: 0 20px 0 0;
}

.accept-div {
  min-height: 220px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #707070;
  padding-right: 26px;
}
.accept-div .divider hr {
  width: 1px;
  min-height: 93%;
  background: transparent;
  border: 1px solid #707070;
}
.accept-div i {
  color: #289a43;
  margin-left: 5px;
}
.accept-div p {
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 18px;
  color: #454545;
}
.accept-div .buttonload {
  background-color: #454545;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 16px;
  font-family: "Tajawal";
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}
.accept-div .buttonload:focus .fa {
  display: inline-block;
}
.accept-div .fa {
  display: none;
  color: #fff;
}
.accept-div .btn-text {
  display: none;
}

.buttonload {
  width: 80%;
  text-align: right;
  display: inline-block;
  border: 1px solid gray;
  outline: none;
  padding: 10px 20px;
  line-height: 1.4;
  background: #454545;
  border-radius: 16px;
  font-family: "Tajawal";
  color: white;
  position: relative;
  transition: padding-right 0.3s ease;
  font-weight: 700;
}
.buttonload i {
  color: #fff;
}

.buttonload.spinning {
  background-color: #454545;
  padding-right: 40px;
}

.buttonload.spinning:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  width: 0;
  height: 0;
  box-shadow: 0px 0px 0 1px #e6e6e6;
  position: absolute;
  border-radius: 50%;
  animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}

.buttonload.spinning:before {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  right: 6px;
  top: 50%;
  position: absolute;
  border: 2px solid #999999;
  border-right: 3px solid #fff;
  animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}

@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}
.final-accept-loan {
  display: none;
}

.delete-link {
  background: #454545;
  color: #fff;
  width: 83px;
  height: 34px;
  border-radius: 8px;
  border: 1px solid #ededed;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-top: 2px;
}
.delete-link:hover {
  border: 1px solid #454545;
  color: #454545;
  background: transparent !important;
}

.blue {
  background-color: #18b9be !important;
}

.notes-input {
  color: black;
  font-family: "Tajawal" !important;
  font-size: 18px;
}

.Resend-loan {
  background: #b68b25 !important;
}

.third-in-print {
  display: none;
}

.pageBreak {
  display: none;
}

@media print {
  footer img {
    width: 60%;
  }

  .acptssss {
    display: none !important;
  }

  .under-btns, .side-bar-dashboard {
    display: none !important;
  }

  @page {
    size: portrait;
    margin: 0 !important;
  }
  .pageBreak {
    display: block;
  }

  .break {
    page-break-before: always !important;
  }

  .second-container .edit {
    display: none;
  }

  .third-container {
    display: none;
  }

  .buttonload {
    width: 100%;
  }

  .third-in-print {
    display: block;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #454545;
  }
  .third-in-print h1 {
    font-family: "Tajawal";
    color: #b68b25;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
  }
  .third-in-print .edit {
    display: none;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .pagebreak {
    page-break-before: always !important;
  }

  table {
    page-break-after: always;
  }
}
.input-name {
  text-align: right;
  font-size: 20px;
  border-radius: 29px;
  background: rgba(237, 237, 237, 0.44);
  border: 2px solid #b68b25;
  height: 3.5rem;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  -o-border-radius: 29px;
  outline: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b68b25;
  min-height: 100vh;
  z-index: 9999;
}
.preloader .lds-ring {
  display: inline-block !important;
  position: relative;
  width: 80px;
  height: 80px;
}
.preloader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.preloader .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.preloader .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.preloader .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader.show {
  display: flex;
}

.preloader.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
